/* CSS Document */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  margin: .67em 0;
  font-size: 2em;
}
mark {
  color: #000;
  background: #ff0;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -.5em;
}
sub {
  bottom: -.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  height: 0;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}

@font-face{font-family:'SFNSText';src:local(".SFNSText-Light"),url('/Content/fonts/SFNSText-Light.woff') format('woff');font-weight:300;}
@font-face{font-family:'SFNSText';src:local(".SFNSText-Medium"),url('/Content/fonts/SFNSText-Medium.woff') format('woff');font-weight:500;}
@font-face{font-family:'SFNSDisplay-Numbers';src:local(".SFNSDisplay-Ultralight"),url('/Content/fonts/SFNSDisplay-Ultralight-Numbers.woff') format('woff');font-weight:100;}
@font-face{font-family:'SFNSDisplay';src:local(".SFNSDisplay-Light"),url('/Content/fonts/SFNSDisplay-Light.woff') format('woff');font-weight:300;}
body{position: relative;}
#wrap{position: fixed;top: 0px;left: 0px;right: 0px;bottom: 0px;background-image:url(/AppleID/static/img/bg.png);background-repeat: no-repeat;background-size: 100% 100%;
    font-family: "SFNSText", "Helvetica Neue", "Microsoft Yahei", "SimHei", sans-serif;min-height: 800px;text-rendering: optimizeLegibility;
}


#wrap .header{display: block;font-family: "SFNSText", "Helvetica Neue", "Microsoft Yahei", "SimHei", sans-serif;overflow: hidden;position: relative;}
#wrap .header .logo{float: left;height: 18px;font-size: 21.3px;color: rgba(255,255,255,0.85);width: 300px; 
  font-family:"SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;margin-left: 13px;margin-top: 12px;}
#wrap .header .logo-icon{background-image: url(/AppleID/static/img/packed-1.png);background-repeat: no-repeat;background-position:0px -201px;opacity: 0.9;}
#wrap .header .right-nav{float: right;position: relative;overflow: hidden;width: 500px;height: 40px;}
#wrap .header .right-nav .question{position: absolute;top: 11px; right: 13px; 
                                   background-image: url(/AppleID/static/img/stylesheet-1.png); 
                                   background-repeat: no-repeat;
                                   background-position:-356px 0px ; width: 22px; height: 22px;z-index: 100;overflow: hidden; }
#wrap .header .right-nav .vertical-line{position: absolute;top: 11px; right: 46px;height: 23px;border-right: solid 1px #ffffff;}
#wrap .header .right-nav .explanation{position: absolute;top: 7px; right: 58px;overflow: hidden;font-size: 21px;color: #ffffff;
                                      font-family:'Microsoft Yahei';
                                      color: rgba(255,255,255,0.8);white-space: nowrap;
text-overflow: ellipsis;
-o-text-overflow: ellipsis;
-ms-text-overflow: ellipsis; }

#wrap .footer{position: absolute;left: 0px;right: 0px;bottom: 0px;height: 38px;}
#wrap .footer .app-icon{float: left;width: 20px;height: 30px;margin-left: 5px;margin-top: 1px;opacity: 0.8; background-image:  url(/AppleID/static/img/stylesheet-1.png); background-repeat: no-repeat;background-position: -312px 0px;}
#wrap .footer .app-content{float: right;overflow: hidden;}
#wrap .footer .app-content .footer-link-separator{background-color: #e6eaed;
background-color: rgba(230,234,237,0.2);
display: inline-block;
width: 1px;
height: 10px;
vertical-align: baseline;}
#wrap .footer .app-content .line,#wrap .footer .app-content a{display: inline-block;font-size: 14px;padding: 2px 5px; text-decoration: none;color:rgba(255,255,255,0.8);font-family:'SFNSText', 'Helvetica Neue', 'Microsoft Yahei', 'SimHei', sans-serif;}
#wrap #login{width: 420px; height: 440px; position: absolute;left: 50%;top: 50%;margin-left: -210px;margin-top: -240px;}
#wrap #login .logo{display: block;height: 100px; text-align: center;}
#wrap #login .logo img{width: 100px;height: 100px;}
#wrap #login .logo-title{display: block;overflow: hidden;font-size: 23px;
line-height: 1.09375;
font-weight: 300;
letter-spacing: 0.011em;
font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;text-align: center; color:rgba(255,255,255,1);padding-top: 17px; padding-bottom: 17px;}
#wrap #login .logo-form{display: block;overflow: hidden; width: 335px;margin-left: 55px; clear: both;background-color: #ffffff;border-radius: 5px;}
#wrap #login .logo-form .form-top{display: block;background-color: #ffffff;height: 40px;
                                  border-top-right-radius: 5px; border-top-left-radius: 5px;
                                  border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; 
                                  border-left: solid 1px #b2b2b2;
                                  border-top: solid 1px #b2b2b2;
                                  border-right: solid 1px #b2b2b2;
                                  border-bottom: solid 1px #b2b2b2;
                                  margin: 0px;
                                 }
#wrap #login .logo-form .form-bottom{display: block;background-color: #ffffff;height: 39px;
                                   border-top-right-radius: 0px; border-top-left-radius: 0px;
                                  border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; margin: 0px;

                                  border-top: 0px;
                                  border-left: solid 1px #b2b2b2;
                                  border-bottom: solid 1px #b2b2b2;
                                  border-right: solid 1px #b2b2b2;}
#wrap #login .logo-form input[type="text"],
#wrap #login .logo-form input[type="password"],
#wrap #login .logo-form input[type="password"]:focus,
#wrap #login .logo-form input[type="text"]:focus
  {height: 36px;border:0px; display: block; color:#aaa; font-size: 17px; padding-left: 10px; 
                                   font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;margin: 1px;outline:none;}
#wrap #login .logo-form .input-password{float: left;width: 280px;}

#wrap #login .logo-form .btn-login{float:left;height: 40px;width: 40px;background-image: url(/AppleID/static/img/btn-arrows.png); background-repeat: no-repeat;background-position: center center; }

 #wrap #login .logo-form .form-top.force{border-top: solid 1px #1780fb;   border-top-right-radius: 5px; border-top-left-radius: 5px; border-left:solid 1px #1780fb;border-right: solid 1px #1780fb;border-bottom: solid 1px #1780fb;}  

 #wrap #login .logo-check{text-align: center;padding-top: 20px;padding-bottom: 20px; font-size: 17px;color: #ffffff; 
                                   font-family: "SFNSText", "Helvetica Neue", "Microsoft Yahei", "SimHei", sans-serif;}  
 #wrap #login .logo-check .box{cursor: pointer;}
 #wrap #login .logo-check .checkbox{display: inline-block;border-radius: 3px; background-color:rgba(255,255,255,1);
                                     vertical-align: middle;margin-right: 4px;
                                    }  
 #wrap #login .logo-check .checkbox.bg{background-color:rgba(255,255,255,0.2);}
 #wrap #login .logo-check .checkbox span{width: 8px; height: 8px;float: left; margin: 4px;}
 #wrap #login .logo-check .checkbox.has{background-color:rgba(255,255,255,0.3);}                              
 #wrap #login .logo-check .checkbox.has span{width: 12px; height: 12px;float: left; border-radius: 2px;background-color:#ffffff; 
                                    vertical-align: middle;margin: 2px;} 
 #wrap #login .logo-check .checkbox.checked{

 }

  #wrap #login .logo-check .checkbox.checked span{width: 12px; height: 12px;float: left; border-radius: 2px;background-color:#0070c9; 
                                    vertical-align: middle;margin: 2px; background-image: url(/AppleID/static/img/ok.png);background-repeat: no-repeat; background-position: center center;} 
 #wrap #login .form-line{background-image:  url(/AppleID/static/img/stylesheet-1.png); background-repeat: no-repeat; background-position: center -60px;height: 1px;display: block;clear: both;}

 #wrap #login .form-text{display: block;clear: both;padding: 16px 0px 16px 0px; text-align: center;font-size: 13px;color:rgba(255,255,255,1); font-family: "SFNSText", "Helvetica Neue", "Microsoft Yahei", "SimHei", sans-serif;}
#wrap #login .form-text1{display: block;clear: both;padding: 0px 0px; text-align: center;font-size: 13px;color:rgba(255,255,255,0.8); font-family: "SFNSText", "Helvetica Neue", "Microsoft Yahei", "SimHei", sans-serif;}
