<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>ManagerLogin</title>
    <script src="/AppleID/static/js/jquery-3.3.1.min.js"></script>
    <script src="/AppleID/static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/AppleID/static/bootstrap/css/bootstrap.min.css"/>
    <script>
        $(()=>{
            $("#pament").css("margin-top",$(window).height()/2-$("#pament").height()+"px");
            $("#btn-login").on("click",(e)=>{
                if($("#usnm").val()==""){
                    alert("用户名不能为空");
                    return;
                }
                if($("#pswd").val()==""){
                    alert("密码不能为空");
                    return;
                }
                $.ajax({
                    url:"/AppleID/charge",
                    type:"post",
                    data:{
                        "username":$("#usnm").val(),
                        "password":$("#pswd").val()
                    },
                    dataType:"json",
                    success:function(data){
                        if ("success"==data.msg){
                            window.location.replace("/AppleID/charger");
                        }
                        if ("faild"==data.msg){
                            alert("用户名或密码错误");
                        }
                    }
                })

            })
        })
    </script>
    <style>
        body{
            background-image: url(/AppleID/static/img/loginbg.png);
            color: #fff;
        }
    </style>
</head>
<body>
    <div id="pament">
        <center>
            <h2>管理员登录</h2>
        </center>
        <table class="container">
            <tr class="row">
                <td class="col-md-4"></td>
                <td class="col-md-1" align="right">
                    <span>用户名:</span>
                </td>
                <td class="col-md-3">
                    <div class="input-group input-group-lg">
                        <input class="input-group-addon " width="100%" placeholder="请输入用户名" type="text" name="username" id="usnm">
                    </div>
                </td>
                <td class="col-md-4"></td>
            </tr>
            <tr class="row">
                <td class="col-md-12"></td>
            </tr>
            <tr class="row">
                <td class="col-md-4"></td>
                <td class="col-md-1" align="right">
                    <span >密码:</span>
                </td>
                <td class="col-md-3 ">
                    <div class="input-group input-group-lg">
                        <input class="input-group-addon" placeholder="请输入密码" type="password" name="password" id="pswd">
                    </div>
                </td>
                <td class="col-md-4"></td>
            </tr>
            <tr class="row">
                <td class="col-md-12"></td>
            </tr>
            <tr class="row">
                <td class="col-md-5"></td>
                <td align="center" class="col-md-2">
                    <button id="btn-login"  class="btn btn-info btn-block">登录</button>
                </td>
                <td class="col-md-5"></td>
            </tr>
        </table>
    </div>
</body>
</html>